.Login-input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Login-input {
  all: unset;
  border: 1px solid #343a40;
  border-radius: 30px;
  padding: 7px;
  font-size: 14px;
  width: 100%;
  padding-left: 20px;
}

.Login-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.Login-input-btn {
  all: unset;
  width: 15%;
  display: flex;
  justify-content: center;
  border: 1px solid #343a40;
  border-radius: 30px;
  padding: 7px;
  font-size: 14px;
}

.Login-input.no-focus:focus {
  border-color: #343a40;
  box-shadow: none;
  outline: none;
}

.Login-input-btn:hover {
  background-color: #343a40;
  color: white;
}
