/* 챗봇 플로팅 버튼 스타일 */
.chatbot-fixed-button {
  position: fixed;
  /* 화면의 오른쪽 하단에 위치 */
  bottom: 80px;
  right: 10px;

  /* 디자인 설정 */
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  /* 겹침 방지를 위해 높은 z-index 설정 */
  z-index: 10000;
  width: 60px;
  height: 60px;
  outline: none;
  box-shadow: none;
  transition: transform 0.2s;
}

.chatbot-fixed-button:hover {
  transform: scale(1.05);
}

/* 챗봇 아이콘 크기 설정 */
.chatbot-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 챗봇 크기 설정 */
@media (max-width: 768px) {
  .chatbot-fixed-button {
    /* 모바일에서 버튼 위치와 크기 조정 */
    right: 18px; /* 오른쪽 여백을 모바일에 맞게 조정 */
    bottom: 87px; /* 아래쪽 여백을 모바일에 맞게 조정 */
    width: 50px; /* 모바일에서 버튼 크기를 약간 줄임 */
    height: 50px;
  }

  .chatbot-icon {
    width: 113%;
    height: 113%;
    object-fit: contain;
  }
}
