.heritage-link {
  text-decoration: none;
  color: #343a40;
}
.heritage-container {
  background-color: #343a40;
}
.heritage-img {
  height: 50vh;
  width: 50vw;
  object-fit: cover;
  object-position: center;
}

/* 모바일 */
@media (max-width: 768px) {
  .heritage-img {
    width: 90vw;
    height: 30vh;
  }

  .heritage-container {
    background-color: #fff;
  }
}
