.home-heritage-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-heritage-img {
  height: 50vh;
  width: 22vw;
  object-fit: cover;
  object-position: center;
}

.home-heritage-img-box:hover img {
  filter: brightness(60%) hue-rotate(-20deg);
}
.home-heritage-text {
  width: 22vw;
  margin-top: 4%;
  margin-bottom: 4%;
}
.home-heritage-text-h6 {
  margin: 10% 0%;
  display: -webkit-box; /* flex처럼 동작 */
  -webkit-line-clamp: 5; /* 최대 5줄까지만 표시 */
  -webkit-box-orient: vertical; /* 세로 방향 */
  overflow: hidden; /* 넘치는 부분 숨김 */
  text-overflow: ellipsis; /* ... 표시 */
}

.home-heritage-address {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 1200px) {
  .home-heritage-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2%;
  }

  .home-heritage-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin: 0% 4%;
    height: 39vh;
  }

  .home-heritage-img {
    width: 50vw;
    height: 40vh;
  }
}
