.talk-profile {
    text-align: center;
}

.talk-profile-pic {
    width: 5vw;
    height: 5vw;
    max-width: 50px;
    max-height: 50px;
}

.icon-border {
    border: 1px solid #343a40;
    border-radius: 50px;
}

.icons {
    height: 1.2rem;
    border-color: #343a40;
}
.card-setting {
    display: flex;
    justify-content: space-between;
}
.card-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.talk-detail-report {
    border: 1px solid #343a40;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    padding-bottom: 2px;
    justify-content: center;
    align-items: center;
}
.tags {
    margin-top: 3%;
    display: flex; /* flex 사용 */
    flex-wrap: wrap;
    text-decoration: underline; /* 밑줄 */
    gap: 8px;
    margin-right: 4px; /* 태그 간 간격 */
}
.talk-photo-imgsize {
    width: 100%;
    padding: 3%;
    border-radius: 30px;
}
