.comment-profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comment-nickname {
  font-size: 14px;
}
.comment-time {
  font-size: 12px;
  color: #343a40;
}
.comment-font {
  font-size: 12px;
  margin-left: 2px;
}
.comment-profile.btn {
  margin-left: 20px;
}

.comment-font.red {
  color: #9c283d;
}

.comment-content {
  margin-left: 20px;
}

.comment-btn {
  all: unset;
}
