.mypage-info {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    margin: 0px 10px 0 0;
}
.mypage-menu {
    text-align: right;
    padding-right: 10%;
    font-size: 18px;
    margin-bottom: 0;
}
.mypage-menu-content {
    text-align: left;
    font-size: 18px;
    margin-bottom: 0;
}
.mypage-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;
}
.mypage-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0%;
}
.mypage-button {
    display: flex;
    justify-content: end;
    gap: 5px;
    margin-right: 10%;
    margin-bottom: 3%;
}
.mypage-input {
    margin: 3px;
    border: 1px solid #868f98;
    width: 85%;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 18px;
    padding-left: 10px;
    outline: none;
}
.mypage-input:focus {
    box-shadow: none;
    outline: none;
}
.mypage-input:disabled {
    background-color: transparent;
    color: black;
    border: 1px solid transparent;
}
