.s-menu-tab {
    display: flex;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
    margin: 0;
}

.s-menu-col {
    flex-direction: column; /* 세로로 쌓기 */
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: center; /* 필요하면 수직 중앙 정렬 */
    margin-top: 3%;
}
.s-menu-btn {
    color: #868f98;
}

.s-menu-btn.active {
    color: #3d253b;
}
.s-menu-tab p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

.s-menu-item {
    color: #868f98;
    text-decoration: none;
    font-size: 22px;
    margin: 0;
    margin-bottom: 10px;
}

/* NavLink가 활성화되었을 때 (URL이 일치할 때) 적용될 스타일 */
.s-menu-item.active {
    color: #3d253b;
    text-decoration: none;
    font-size: 22px;
    margin: 0;
    margin-bottom: 10px;
}
