.header-custom {
  /* 스크롤 고정을 위해 sticky-top이 작동하지 않을 경우 대비 */
  position: sticky;
  top: 0;
  z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 설정 */
  margin: 7px 5px;
  /* 배경은 투명, 아래쪽에 얇은 구분선 */
  background-color: white;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
 * Container 컴포넌트를 위한 클래스
 */
.header-content {
  display: flex;
  justify-content: space-between; /* 로고와 버튼을 양 끝으로 분리 */
  align-items: center;
}

/* 로고를 감싸는 Navbar.Brand에 여백을 주어 잘림을 방지합니다. */
.navbar-brand {
  margin-left: 5px;
  padding: 0;
}

/* 로고 크기 설정 */
.header-logo {
  height: 50px; /* 로고 크기 */
  width: auto;
}
.header-hamburger {
  margin-right: 10px;
}
