@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

:root {
  --bs-body-font-family: "Gowun Dodum", sans-serif;
  box-sizing: border-box;
  border-collapse: collapse;
}

body {
  font-family: var(--bs-body-font-family);
  margin: 0;
  padding: 0;
}
